html,
body {
    height: 100%;
    margin: 0;
}

body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header{
    background-color: white;
    padding: 10px 15px;
}

.error-text{
    color: red;
}
