.layout{
    max-width: 800px;
    margin: 0 auto;
    padding: 70px 0;
}

.breadcrumb {
    margin-bottom: 16px;
}

.breadcrumb ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    font-size: 14px;
}

.breadcrumb li+li::before {
    content: ">";
    margin: 0 8px;
    color: #999;
}

.flex{
    display: flex;
    gap: 30px;
}

.flex-img,
.flex-text {
    flex: 1;
}

.flex-img {
    display: flex;
    flex-direction: column;
}

.flex-img img {
    width: 100%;
    height: auto;
    display: block;
}

.checkbox-list{
    display: flex;
    gap: 50px;
}

.checkbox-item input {
    display: none;
}

.checkbox-item span {
    position: relative;
    padding-left: 26px;
}

/* 丸い外枠 */
.checkbox-item span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #4B4B4B;
    border-radius: 50%;
}

/* チェック時：丸を塗りつぶす */
.checkbox-item input:checked+span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: #4B4B4B;
    border-radius: 50%;
}

/* チェックマーク（抜き） */
.checkbox-item input:checked+span::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);

    width: 5px;
    height: 9px;

    border-right: 2px solid #fff;
    /* ← 背景色 */
    border-bottom: 2px solid #fff;
    /* ← 背景色 */
}
.text-layout input,
.text-layout textarea {
    width: 100%;
}

.text-layout textarea {
    height: 160px;
    resize: none;
}

.flex-button{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.button-layout{
    display: flex;
    gap: 20px;
}

.button-layout a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: #E0DFDE;
    text-align: center;
}

.button-layout button {
    border: none;
    background-color: #F5C800;
}

.button-layout a,
.button-layout button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 13px 10px;
    box-shadow: 0 4px 10px #0000001A;

}

.reset-button{
    width: 50px;
    height: 50px;
    background-image: url("/img/trash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}